body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 310px;
}

.box {
    background-color: hsl(0, 0%, 100%);
    margin-top: 10%;
    /* border: 0.1px solid; */
    border-radius: 10px;
    width: 600px;
    height: 450px;
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

.content {
    font-family: 'Montserrat', sans-serif;
}

#heading {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

#price {
    font-family: 'Fraunces', serif;
    font-weight: 800;
    color: hsl(158, 36%, 37%);
}

.but {
    background-color: hsl(158, 36%, 37%);
    background-image: url("../Challenges/Codings/images/shopping-cart.png");
    border-radius: 10px;
    width: 235px;
    height: 45px;
    background-size: cover;
}


/* .button-69 {
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
   
   
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    
    line-height: 60px;
    margin-left: -4px;
    outline: 0;
    
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    
}

.button-69:hover {
    opacity: .7;
}

@media screen and (max-width: 1000px) {
    .button-69 {
        font-size: 14px;
        height: 55px;
        line-height: 55px;
        width: 150px;
    }
} */